{% extends "base.html" %}
{% block content %}

<div class="section-padding-top">
    <div class="container-fluid formcontent">
    <div class="row supervisabgimg bbee">
    <div class="col-md-6 col-lg-6 col-xl-7 paddingzero">
    <div class="subhead"><h3>Supervisa Insurance Cost</h3></div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 paddingzero">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>Super Visa Insurance - Rate Comparison</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="supervisainsform" action="/store-data/23"><div style="display:none;"><value="POST"></div> <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="departeredate">Start date of coverage <span class="star">*</span></label>
    <input required type="date" class="form-control form-design hasDatepicker" name="departeredate" id="departeredate" aria-describedby="departeredate_status" autocomplete="off">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="primary_destination">Primary destination <span class="star">*</span></label>
    <select class="form-control" name="primary_destination" id="primary_destination" aria-describedby="primary_destination_status">
    <option value="" selected="">Please choose</option>
    <option value="Alberta">Alberta</option>
    <option value="British Columbia">British Columbia</option>
    <option value="Manitoba">Manitoba</option>
    <option value="New Brunswick">New Brunswick</option>
    <option value="Newfoundland">Newfoundland</option>
    <option value="North West Territories">North West Territories</option>
    <option value="Nova Scotia">Nova Scotia</option>
    <option value="Nunavut">Nunavut</option>
    <option value="Ontario">Ontario</option>
    <option value="Prince Edward Island">Prince Edward Island</option>
    <option value="Quebec">Quebec</option>
    <option value="Saskatchewan">Saskatchewan</option>
    <option value="Yukon Territory">Yukon Territory</option>
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="sphone" class="control-label">Number of Visitors (max 2)</label>
    <select class="form-control" name="ntravellers" id="ntravellers">
    <option value="1">1</option>
    <option value="2">2</option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    
    
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 tr2" style="display: none;">
    <div class="form-group has-feedback">
    <label for="medical_cond2">Pre-existing / 2nd Person</label>
    <select class="form-control" name="medical_cond2" id="medical_cond2">
    <option value="no"> No</option>
    <option value="yes"> Yes </option>
    </select>
    </div>
    </div>
    <div class="col-md-12">
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input type="submit" style="height: 40px;" id="supervisainssubmit" class="readmore-blue submit-form" value="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="container formcontent">
    <div class="row">
    <div class="col-md-12">
    <h4 class="title_custom">What is Supervisa insurance cost?</h4>
    <p>Punjab Insurance is committed to provide you lowest possible <strong>super visa insurance rates</strong> with best protection to your parents and grandparents. Our dedication to superior client service has brought us to the Internet as we endeavor to continue to provide the highest quality professional service and guidance. We have been providing <strong>Super Visa Insurance quotes</strong> right from the effective date 1st december 2011, super visa program was launched by Citizenship and Immigration Canada (CIC). We provide <strong>free consultation</strong> to provide plans as per a client's need. In order to provide you with the lowest possible super visa insurance rates we need to ask the client a few specific health related questions and to help you find the <strong>most suitable super visa insurance plan</strong>. As for super visa insurance we guarantee <strong>100% refund of Premium</strong>, in case your visa is denied.</p>
    <p>Punjab Insurance Inc. is an independent insurance brokerage company. All insurance products can be obtained at competitive rates at Punjab Insurance Inc. Our professional insurance team comprises of insurance experts who are citizens of Canada or permanent residents who have arrived in Canada as immigrants and settled here for a quality life. We speak your language and can guide you in your doubts regarding super visa insurance along with offering you the most affordable quotes than our competitors. As we are aware of the concept that one size does not fit all we offer wide range of policies which are suitable to your pockets.</p>
    <h4 class="title_custom">Insurance Cost</h4>
    <p>We understand that insurance is about more than just a price. That's why we offer our clients insurance solutions tailored to meet their individual requirements. Our goal is to deliver a complete range of insurance protection and financial services, matching them to your needs and helping you make informed, responsible decisions to meet those needs. We have qualified and experienced team who deals with all forms of insurances such as super visa insurance, life insurance, critical care insurance, disability insurance, visitor's insurance etc. and have extensive experience of dealing with different type of people with insurance policies in the market.</p>
    <p>To avail lowest supervise insurance quotes online just fill the form and we promise to get back to you in 24 hrs. Or to speak with our expert financial advisor call us now for a free consultation at <strong>1-888-978-6522</strong>. We research the latest prices in the market and provide you excellent service and affordable rates. We guarantee you to offer the plans conferring to your health needs and your affordability. Give us a chance to serve you and any experienced insurance advisor from our team will deliver you the right product along with quality services to satisfy your unique insurance requirements. Punjab Insurance Inc. Is proud to represent all major Canadian Insurance companies and can be your trusted financial advisor with more than 13 years of experience in the insurance field. </p>
    <br>
    </div>
    </div>
    </div>
    </div>
{% endblock %}