{% extends "base.html" %}
{% block content %}

<div class="section-padding-top">
    <div class="container-fluid formcontent">
    <div class="row supervisabgimg bbee">
    <div class="col-md-6 col-lg-6 col-xl-7 paddingzero">
    <div class="subhead"><h3>Super visa Canada</h3></div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 paddingzero">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>Super Visa Insurance - Rate Comparison</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="supervisainsform" action="/store-data/25"><div style="display:none;"><value="POST"></div> <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="departeredate">Start date of coverage <span class="star">*</span></label>
    <input required type="date" class="form-control form-design hasDatepicker" name="departeredate" id="departeredate" aria-describedby="departeredate_status" autocomplete="off">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="primary_destination">Primary destination <span class="star">*</span></label>
    <select class="form-control" name="primary_destination" id="primary_destination" aria-describedby="primary_destination_status">
    <option value="" selected="">Please choose</option>
    <option value="Alberta">Alberta</option>
    <option value="British Columbia">British Columbia</option>
    <option value="Manitoba">Manitoba</option>
    <option value="New Brunswick">New Brunswick</option>
    <option value="Newfoundland">Newfoundland</option>
    <option value="North West Territories">North West Territories</option>
    <option value="Nova Scotia">Nova Scotia</option>
    <option value="Nunavut">Nunavut</option>
    <option value="Ontario">Ontario</option>
    <option value="Prince Edward Island">Prince Edward Island</option>
    <option value="Quebec">Quebec</option>
    <option value="Saskatchewan">Saskatchewan</option>
    <option value="Yukon Territory">Yukon Territory</option>
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="sphone" class="control-label">Number of Visitors (max 2)</label>
    <select class="form-control" name="ntravellers" id="ntravellers">
    <option value="1">1</option>
    <option value="2">2</option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    
    
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 tr2" style="display: none;">
    <div class="form-group has-feedback">
    <label for="medical_cond2">Pre-existing / 2nd Person</label>
    <select class="form-control" name="medical_cond2" id="medical_cond2">
    <option value="no"> No</option>
    <option value="yes"> Yes </option>
    </select>
    </div>
    </div>
    <div class="col-md-12">
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input type="submit" style="height: 40px;" id="supervisainssubmit" class="readmore-blue submit-form" valye="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="container formcontent">
    <div class="row">
    <div class="col-md-12">
    <h4 class="title_custom">What is Super Visa?</h4>
    <p>Super Visa which came into effect in December 2011 and is becoming super popular among landed immigrants and Canadian citizens is a golden opportunity for <b>family reunion</b>. This Super Visa as we are aware is a <b>multiple entry visa</b> which is valid for 10 year allowing parents and grandparents to visit and stay in Canada for up to two years in a stretch without the need to renew it every time. The process for getting a <strong>Parents and Grandparents Super Visa</strong> is simple and straightforward. Applicants for the Super Visa must provide proof that the host child or grandchild meets a minimum income level, demonstrate that they have purchased comprehensive <strong>Canadian medical insurance</strong> and undergo the immigration medical examination. </p>
    <p>Statistics reveal that majority of the parents don't actually want to immigrate to Canada; they just want to visit loved ones on a regular basis. Parents visiting Canada under the Super visa category are overwhelmed with Super Visa as it has given an alternative for reunion with loved ones. All those parents who are still waiting for their prolonged immigration process are relieved with this super visa opportunity. The super visa could be a bridge from now until the permanent resident is accepted. So if the permanent resident process could take three to four years, then the super visa could act as a bridge.</p>
    <h4 class="title_custom">Punjab Insurance Inc.</h4>
    <p>Punjab Insurance Inc. Is committed to provide you <strong>lowest possible super visa insurance quotes</strong> with best protection to your parents and grandparents. Our dedication to superior client service has brought us to the Internet as we endeavour to continue to provide the highest quality professional service and guidance. Punjab insurance Inc. has been helping all Canadians and new immigrants alike since 2000. Our team comprises of <strong>knowledgeable financial advisors</strong> who strive hard to provide you the best suited plan according to your need. We offer best insurance rates to our clients by comparing all the benefits of different plans offered by different companies.</p>
    <h4 class="title_custom">Visitor's Medical Insurance</h4>
    <p>All-inclusive <strong>visitor's medical insurance</strong> can be obtained at competitive rates at Punjab Insurance Inc.by visiting our website www.punjabinsurance.ca .Our team of advisors at Punjab Insurance Inc. comprises of people who are permanent residents or citizens of Canada who have arrived in Canada as immigrants and settled here for a quality life. We can understand the pain of separation from your parents or grandparents. We speak your language and can guide you in your doubts regarding super visa along with offering you the <strong>most affordable quotes</strong> than our competitors. As we are aware of the concept that one size does not fit all we offer wide range of policies which are suitable to your pockets. Apply today or call us @1-888-978-6522 for any queries or enquiries on super Visa.</p>
    <h4 class="title_custom">About the author</h4>
    <img src="/img/custompages/sher.jpg?p=0" class="img img-responsive img_class" alt=""> <p><b>Sherjang Singh Rana</b> is President/CEO of Punjab Insurance Inc. He is licensed Life and Health insurance advisor. He has been working in the financial services industry for over a decade, building a highly successful brokerage business</p>
    <p>Sherjang Singh Rana specializes in insurance solutions and the RESP. He personally works with all his clients, which he has developed through excellent customer service, superior results, and a reputation for always acting in the best interest of client. Sherjang believes in offering his clients the highest value solutions in a number of different areas of finance, which is what has kept him at the top of the financial services industry.</p>
    <br>
    </div>
    </div>
    </div>
    </div>
{% endblock %}