{% extends "base.html" %}
{% block content %}

<div class="section-padding-top">
    <div class="container-fluid formcontent">
    <div class="row supervisabgimg bbee">
    <div class="col-md-6 col-lg-6 col-xl-7 paddingzero">
    <div class="subhead"><h3>Benefits of Super Visa Insurance</h3></div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 paddingzero">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>Super Visa Insurance - Rate Comparison</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="supervisainsform" action="/store-data/26"><div style="display:none;"><value="POST"></div> <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="departeredate">Start date of coverage <span class="star">*</span></label>
    <input required type="date" class="form-control form-design hasDatepicker" name="departeredate" id="departeredate" aria-describedby="departeredate_status" autocomplete="off">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="primary_destination">Primary destination <span class="star">*</span></label>
    <select class="form-control" name="primary_destination" id="primary_destination" aria-describedby="primary_destination_status">
    <option value="" selected="">Please choose</option>
    <option value="Alberta">Alberta</option>
    <option value="British Columbia">British Columbia</option>
    <option value="Manitoba">Manitoba</option>
    <option value="New Brunswick">New Brunswick</option>
    <option value="Newfoundland">Newfoundland</option>
    <option value="North West Territories">North West Territories</option>
    <option value="Nova Scotia">Nova Scotia</option>
    <option value="Nunavut">Nunavut</option>
    <option value="Ontario">Ontario</option>
    <option value="Prince Edward Island">Prince Edward Island</option>
    <option value="Quebec">Quebec</option>
    <option value="Saskatchewan">Saskatchewan</option>
    <option value="Yukon Territory">Yukon Territory</option>
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="sphone" class="control-label">Number of Visitors (max 2)</label>
    <select class="form-control" name="ntravellers" id="ntravellers">
    <option value="1">1</option>
    <option value="2">2</option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    
    
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 tr2" style="display: none;">
    <div class="form-group has-feedback">
    <label for="medical_cond2">Pre-existing / 2nd Person</label>
    <select class="form-control" name="medical_cond2" id="medical_cond2">
    <option value="no"> No</option>
    <option value="yes"> Yes </option>
    </select>
    </div>
    </div>
    <div class="col-md-12">
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input type="submit" style="height: 40px;" id="supervisainssubmit" class="readmore-blue submit-form" value="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    </div>
    <div class="container formcontent">
    <div class="clearfix"></div>
    <div class="row">
    <div class="col-md-12">
    <h4 class="title_custom">What's the difference between Visitor's Insurance and Super Visa Insurance?</h4>
    <p>Looking forward to meet your parents or grandparents by applying for a visa but you are confused whether you should opt for a visitor visa or super visa! The information given below about basic differences and benefits will clear your doubts. </p>
    <p>The Canadian government allows anyone eligible for "Visitors' to Canada program" to visit the country for 6 months. Those who wish to stay longer have to apply for an extension, paying a new fee, every six months. <b>The Visitor's insurance program</b> provides you with coverage for any health or medical emergency that you may face within the 6 month period during the visit.</p>
    <p>With <b>the Super Visa Insurance program</b>, eligible family members will pay fewer fees and have some assurance that they will be able to visit their families in Canada for a longer period (up to 10 years). The government issues the visas normally within eight weeks of the application. The Super Visa insurance program covers the visitor during complete period of their visit. It includes any medical expenses incurred during their stay in Canada.</p>
    <h4 class="title_custom">Super Visa program</h4>
    <p>The Super Visa program considers several factors before deciding if a person is admitted. Among the things that could be considered are:</p>
    <ul>
    <li>the person's ties to the home country,</li>
    <li>the purpose of the visit,</li>
    <li>the person's family and financial situation,</li>
    <li>the overall economic and political stability of the home country,</li>
    <li>provide a written commitment of financial support from their child or grandchild in Canada who meets a minimum income threshold,</li>
    <li>prove that they have bought Canadian medical insurance for at least one year to cover</li>
    <li>the period of time that they will be in Canada,</li>
    <li>and complete an Immigration Medical Examination (IME).</li>
    </ul>
    <h4 class="title_custom">In Visitor's insurance</h4>
    <p>In Visitor's insurance</p>
    <ul>
    <li>Family rate apply for three or more applicants - parents or legal guardians and their dependent children under age of 21 or up to 25 years if the child is a full time student or if the child is mentally challenged or physically handicapped.?</li>
    <li>Pre-existing medical conditions may be covered after completing a medical questionnaire. Please, contact our customer service for more information.?</li>
    <li>Students, New Immigrants and Foreign Workers can use a Visitors to Canada plan.</li>
    </ul>
    <h4 class="title_custom">About the author</h4>
    <img src="/img/custompages/Sandeep_Ahuja_profile.jpg?p=0" class="img img-responsive img_class" alt=""> <p><b>Sandeep Ahuja</b> is President Operations Punjab Insurance Inc and a licensed Life and Health insurance advisor. He has been working in the financial services industry for over a decade, building a highly successful brokerage business</p>
    <p>Sandeep has been helping all Canadians and new immigrants alike since 2000. He and his team strive hard to provide you the best suited plan according to your need. His team is expert in comparing all the benefits of different plans offered by different companies. Unlike other organizations with the inability to provide client focused service,he can adapt quickly to changing conditions, ensuring that our clients receive a fast and efficient response to their needs. His goal is to deliver a complete range of insurance protection and financial services, matching them to client's needs and helping them make informed, responsible decisions to meet those needs.</p>
    <br>
    </div>
    </div>
    </div>
    </div>
{% endblock %}