{% extends "base.html" %}
{% block content %}

<div class="section-padding-top">
    <div class="container-fluid formcontent">
    <div class="row supervisabgimg bbee">
    <div class="col-md-6 col-lg-6 col-xl-7 paddingzero">
    <div class="subhead"><h3>FAQs on Super Visa Insurance for Parents</h3></div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 paddingzero">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>Super Visa Insurance - Rate Comparison</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="supervisainsform" action="/store-data/27"><div style="display:none;"><value="POST"></div> <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="departeredate">Start date of coverage <span class="star">*</span></label>
    <input required type="date" class="form-control form-design hasDatepicker" name="departeredate" id="departeredate" aria-describedby="departeredate_status" autocomplete="off">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="primary_destination">Primary destination <span class="star">*</span></label>
    <select class="form-control" name="primary_destination" id="primary_destination" aria-describedby="primary_destination_status">
    <option value="" selected="">Please choose</option>
    <option value="Alberta">Alberta</option>
    <option value="British Columbia">British Columbia</option>
    <option value="Manitoba">Manitoba</option>
    <option value="New Brunswick">New Brunswick</option>
    <option value="Newfoundland">Newfoundland</option>
    <option value="North West Territories">North West Territories</option>
    <option value="Nova Scotia">Nova Scotia</option>
    <option value="Nunavut">Nunavut</option>
    <option value="Ontario">Ontario</option>
    <option value="Prince Edward Island">Prince Edward Island</option>
    <option value="Quebec">Quebec</option>
    <option value="Saskatchewan">Saskatchewan</option>
    <option value="Yukon Territory">Yukon Territory</option>
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="sphone" class="control-label">Number of Visitors (max 2)</label>
    <select class="form-control" name="ntravellers" id="ntravellers">
    <option value="1">1</option>
    <option value="2">2</option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    
    
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 tr2" style="display: none;">
    <div class="form-group has-feedback">
    <label for="medical_cond2">Pre-existing / 2nd Person</label>
    <select class="form-control" name="medical_cond2" id="medical_cond2">
    <option value="no"> No</option>
    <option value="yes"> Yes </option>
    </select>
    </div>
    </div>
    <div class="col-md-12">
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input type="submit" style="height: 40px;" id="supervisainssubmit" class="readmore-blue submit-form" value="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="container formcontent">
    <div class="row">
    <div class="col-md-12">
    <h4 class="title_custom">Frequently asked questions on Super Visa insurance for parents</h4>
    <p><b>Q: Is it mandatory to buy insurance from a Canadian Insurance company instead of from a company in their home country?</b></p>
    <p>A: Canadian medical providers (hospital, dentists, medical clinics, etc.) prefer to work with Canadian insurance companies. There is direct billing between hospitals and the Canadian insurance companies. In the event that you have to pay for expenses and then file a claim, Canadian insurance companies will have a faster claim procedure as they can verify Canadian medical expenses faster than providers in overseas countries (so you get reimbursed faster).Also, Canadian insurance companies are regulated by Canadian regulators, at some of the very highest standards around the world. In fact, they are also re-insured by Assures - a Canadian government agency that will cover up to $60,000 of medical expenses in case a Canadian insurance company becomes insolvent. Not that that is likely, but it's nicer to know that you are insured no matter what happens. Also, for proof of insurance at immigration/entry time, paperwork is best shown in English or French.</p>
    <h4 class="title_custom">Frequently asked questions :</h4>
    <p><b>Q: Who is eligible for the new parent and grandparent super visa?</b></p>
    <p>A: Parents and grandparents of Canadian citizens or permanent residents who have been found admissible to Canada and meet some other conditions are eligible for the Super Visa as stated by Canadian Government. Visa officers consider several factors before deciding if the person is admissible. This means they are a genuine visitor to Canada who will leave by choice at the end of their visit. Among the things that could be considered are:</p>
    <ul>
    <li>the individuals strong bonds to his/her home country</li>
    <li>the purpose of their visit,</li>
    <li>the individuals family and financial state of affairs,</li>
    <li>invitations from Canadian hosts.</li>
    </ul>
    <p><b>Q. What documents are required by the applicant to file a case?</b></p>
    <p>The applicant can get detailed information by visiting cic.gc.ca site or consult an immigration consultant. Some mandatory documents are</p>
    <ul>
    <li>a written commitment of financial support from their child or grandchild in Canada who meets a minimum income threshold, </li>
    <li>prove that they have purchased Canadian medical insurance for at least one year to cover the period of time that they will be in Canada, and </li>
    <li>complete an Immigration Medical Examination (IME).</li>
    </ul>
    <p><b>Q: Can my parents buy health insurance from their home country?</b></p>
    <p>A: According to the above quote from the government's website, proof of Canadian medical insurance is required. While this may change in the future to a list of approved international carriers, the guidance so far is for visitors to purchase visitors insurance from a Canadian company.</p>
    <p><b>Q. Why has the government made it mandatory of purchasing visitor's insurance from a Canadian travel insurance company and not from other insurance companies from their home country?</b></p>
    <p>A. The Canadian insurance companies are governed by the regulations in Canada, and the government perhaps feels safer that any claims will be paid for by a company they can regulate. The government doesn't want to be the one to have to pay any claims, or sue a company that doesn't pay out a claim. </p>
    <p><b>Q: What amount of Visitors travel medical insurance should I purchase for my mother who is visiting me next month?</b></p>
    <p>A: The expenses for hospitalization for visitors to Canada can amount to over $3,000 per day, and air ambulance charges to return you home could very easily be in the tens of thousands of dollars. We recommend $100,000 of medical insurance coverage. This will ease your financial burden due to unforeseen charges and give you a peace of mind which everyone is looking for.</p>
    <p><b>Q: Can I purchase a policy for my family members who are planning to come for a visit?</b></p>
    <p>A: Yes. Any person can purchase a visitors insurance policy on behalf of someone coming to Canada.</p>
    <p><b>Q: Can I get discount if I buy visitor's insurance for 2-3 people visiting together to Canada?</b></p>
    <p>A: You can apply for a quote online by visiting our website or call our toll free number. After going through your requisites we will be able to give you a competitive rate.</p>
    <p><b>Q: If I have a pre-existing condition, can I get coverage for that with visitors insurance?</b></p>
    <p>A:It all depends on the pre-existing condition, and the terms and conditions of the policy. Some insurance companies offer plans that cover pre-existing conditions as long as they have been stable for a certain period of time (3 to 6 months) before departure from your home country. Sometimes, pre-existing conditions will not be covered. It is important to read your entire policy to make sure you are aware of the definitions affecting coverage, as well as the possible exclusions that may apply.</p>
    <p>Only some of the available plans will cover pre-existing medical conditions such as diabetes, high blood pressure, heart conditions, etc. Other policies, while they do cover stable pre-existing medical conditions, use strict eligibility questions to screen out applicants (for example, no coverage available if you use an ICD (pacemaker), oral steroids for lung conditions, diagnosis of stroke, blood clots, congestive heart failure or heart murmur in past 12 months, etc.).</p>
    <p><b>Q. Do I need to take a medical test before I can buy Visitors to Canada insurance?</b></p>
    <p>A: No. There is no medical exam required prior to purchase. You will have to fill the form which comprises of a few medical questions. You must answer all questions honestly, as not doing so may void (cancel) your coverage. If you have to submit a claim, the insurance company will investigate to determine if your condition was a pre-existing one, and/or whether you were honest on your application. </p>
    <h4 class="title_custom">Visitors to Canada</h4>
    <p><b>Visitors to Canada or their Canadian friends or family</b> can get a travel insurance quote, compare policies and purchase online by visiting our site Punjabinsurance.ca. For further enquiries or queries call us at our toll free number 1-888-978-6522. Punjab Insurance is at your services 24 hours for 365 days.</p>
    <h4 class="title_custom">Links:</h4>
    <p class="bluehead"><a href="https://www.punjabinsurance.ca/super-visa-canada"><span class="fa fa-hand-o-right" aria-hidden="true"></span> Super Visa</a></p>
    <p class="bluehead"><a href="https://www.punjabinsurance.ca/faqs-on-super-visa-insurance-for-parents"><span class="fa fa-hand-o-right" aria-hidden="true"></span> FAQs Supervisa</a></p>
    <p class="bluehead"><a href="https://www.punjabinsurance.ca/super-visa-health-insurance-elibility"><span class="fa fa-hand-o-right" aria-hidden="true"></span> Eligibility Requirements</a></p>
    <br>
    </div>
    </div>
    </div>
    </div>
{% endblock %}