{% extends "base.html" %}
{% block content %}

<div class="section-padding-top">
    <div class="container-fluid formcontent">
    <div class="row supervisabgimg bbrr">
    <div class="col-md-6 col-lg-6 col-xl-7 paddingzero">
    <div class="subhead"><h3>Super Visa Insurance with pre-existing condition</h3></div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 paddingzero">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>Super Visa Insurance - Rate Comparison</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="supervisainsform" action="/store-data/18"><div style="display:none;"><value="POST"></div> <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="departeredate">Start date of coverage <span class="star">*</span></label>
    <input required type="date" class="form-control form-design hasDatepicker" name="departeredate" id="departeredate" aria-describedby="departeredate_status" autocomplete="off">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="primary_destination">Primary destination <span class="star">*</span></label>
    <select class="form-control" name="primary_destination" id="primary_destination" aria-describedby="primary_destination_status">
    <option value="" selected="">Please choose</option>
    <option value="Alberta">Alberta</option>
    <option value="British Columbia">British Columbia</option>
    <option value="Manitoba">Manitoba</option>
    <option value="New Brunswick">New Brunswick</option>
    <option value="Newfoundland">Newfoundland</option>
    <option value="North West Territories">North West Territories</option>
    <option value="Nova Scotia">Nova Scotia</option>
    <option value="Nunavut">Nunavut</option>
    <option value="Ontario">Ontario</option>
    <option value="Prince Edward Island">Prince Edward Island</option>
    <option value="Quebec">Quebec</option>
    <option value="Saskatchewan">Saskatchewan</option>
    <option value="Yukon Territory">Yukon Territory</option>
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="sphone" class="control-label">Number of Visitors (max 2)</label>
    <select class="form-control" name="ntravellers" id="ntravellers">
    <option value="1">1</option>
    <option value="2">2</option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    
    
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 tr2" style="display: none;">
    <div class="form-group has-feedback">
    <label for="medical_cond2">Pre-existing / 2nd Person</label>
    <select class="form-control" name="medical_cond2" id="medical_cond2">
    <option value="no"> No</option>
    <option value="yes"> Yes </option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input required style="height: 40px;" type="submit" id="supervisainssubmit" class="readmore-blue submit-form" value="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="container formcontent">
    <div class="row">
    <div class="col-md-12">
    <h4 class="title_custom">Super Visa Insurance with pre-existing condition</h4>
    <p>Do not let <strong>Pre-existing conditions</strong> such as <strong>Diabetes, Heart conditions, High Blood Pressure etc.</strong> act as a spanner when a little bit of planning and some tips can help you travel hassle free. Life is a journey and per-existing medical problems travel with you wherever you go. Planning is the best way to make sure that you enjoy the experience of travelling to anyplace in the world. If you are <strong>Parents or Grandparents</strong> travelling to Canada on <strong>Super visa</strong> category make sure to apply for a Canadian medical Insurance while visiting family and friends in Canada.</p>
    <p><strong>Super Visa Insurance with pre-existing condition</strong> coverage for individuals depends on the pre-existing condition, and the terms and conditions of the policy. Some insurance companies offer plans that cover pre-existing conditions as long as they have been stable for a certain period of time (3 to 6 months) before departure from your home country. Sometimes, pre-existing conditions will not be covered. It is important to read your entire policy to make sure you are aware of the definitions affecting coverage, as well as the possible exclusions that may apply.</p>
    <h4 class="title_custom">Tips for a wonderful travelling experience:</h4>
    <ul>
    <li>Always carry four medical supplies with you, in your handbag or in a place easily accessible while travelling. Have more than enough of medications, in case of extra stay or emergency. It is advisable to carry your prescription letter from your doctor, listing name of the medication you use. These prescriptions will also help you to go through security checkpoints at airports also. Do not think you can go without medicines for even a single day. </li>
    <li>Make sure you pack your medicines in right environment. Extreme temperatures can denature your medications and test supplies. Do not keep insulin in direct Sun or any hot place. Try to keep your insulin in a cool, dark place. Insulin pens are a better bet while travelling rather than vials. </li>
    <li>While flying abroad, keep track of your insulin shots or any medicines for the heart and meals through the changing time zones. You can do this by calculating hours with your home time zone until the morning after you arrive. For doing this you can take help of your doctor.</li>
    <li>Don't assume that you can find food wherever you are. If possible take some healthy food along with you, such as a sandwich or any meal, in case meals aren't available from elsewhere. </li>
    <li>When you fly or you are in a hotel you can make a request a special meal low in sugar and fat and less salt. Make your request in advance if possible while booking your air ticket or 24 hours in advance depending on the airline. Ask for a list of ingredients for unfamiliar foods.</li>
    <li>It is advisable to go for a medical examination and consult your doctor about a month before your expected date of travel, as then you will have time to control your cholesterol or sugar levels before you travel. </li>
    <li>Wear appropriate clothing according to season and comfortable shoes in order to provide you good protection. During travel make sure shoes are not too tight as feet can swell. </li>
    <li>Have a diabetes identification bracelet or card with you. In addition to identifying you are having diabetes or are a heart patient, this identification provides a small note on treating low blood sugar levels (hypoglycemia), emergency contact information. This can help you in case of accidents especially when you are among unknown people. </li>
    <li>Along with that, do discuss and take first-aid medicines along with you for fever, diarrhoea, vomiting and other acute illnesses. </li>
    </ul>
    <p>Try to stick to your routine even while travelling. With proper preparation there is no reason why the trip cannot be pleasurable and a rewarding experience. Remember to take your self-care and you can <strong>travel</strong> safely.</p>
    <h4 class="title_custom">Pre-existing condition</h4>
    <p>Only some of the available plans will cover pre-existing medical conditions such as diabetes, high blood pressure, heart conditions, etc. Other policies, while they do cover stable pre-existing medical conditions, use strict eligibility questions to screen out applicants (for example, no coverage available if you use an ICD (pacemaker), oral steroids for lung conditions, diagnosis of stroke, blood clots, congestive heart failure or heart murmur in past 12 months, etc.).</p>
    <br>
    </div>
    </div>
    </div>
    </div>
{% endblock %}