{% extends "base.html" %}
{% block content %}

<div class="section-padding-top" style="padding-top: 30px;">
    <div class="container-fluid formcontent">
    <div class="row supervisabgimg bbrr">
    <div class="col-md-6 col-lg-6 col-xl-7 paddingzero">
    <div class="subhead"><h3>Tips for Parents and Grandparents travelling to Canada on Super Visa Insurance suffering from Diabetes</h3></div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 paddingzero">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>Super Visa Insurance - Rate Comparison</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="supervisainsform" action="/store-data/19"><div style="display:none;"><value="POST"></div> <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="departeredate">Start date of coverage <span class="star">*</span></label>
    <input required type="date" class="form-control form-design hasDatepicker" name="departeredate" id="departeredate" aria-describedby="departeredate_status" autocomplete="off">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="primary_destination">Primary destination <span class="star">*</span></label>
    <select class="form-control" name="primary_destination" id="primary_destination" aria-describedby="primary_destination_status">
    <option value="" selected="">Please choose</option>
    <option value="Alberta">Alberta</option>
    <option value="British Columbia">British Columbia</option>
    <option value="Manitoba">Manitoba</option>
    <option value="New Brunswick">New Brunswick</option>
    <option value="Newfoundland">Newfoundland</option>
    <option value="North West Territories">North West Territories</option>
    <option value="Nova Scotia">Nova Scotia</option>
    <option value="Nunavut">Nunavut</option>
    <option value="Ontario">Ontario</option>
    <option value="Prince Edward Island">Prince Edward Island</option>
    <option value="Quebec">Quebec</option>
    <option value="Saskatchewan">Saskatchewan</option>
    <option value="Yukon Territory">Yukon Territory</option>
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="sphone" class="control-label">Number of Visitors (max 2)</label>
    <select class="form-control" name="ntravellers" id="ntravellers">
    <option value="1">1</option>
    <option value="2">2</option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    
    
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 tr2" style="display: none;">
    <div class="form-group has-feedback">
    <label for="medical_cond2">Pre-existing / 2nd Person</label>
    <select class="form-control" name="medical_cond2" id="medical_cond2">
    <option value="no"> No</option>
    <option value="yes"> Yes </option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input type="submit" style="height: 40px;" id="supervisainssubmit" class="readmore-blue submit-form" value="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="container formcontent">
    <div class="row">
    <div class="col-md-12">
    <h4 class="title_custom">Super Visa Insurance for diabetes patient</h4>
    <p>Have diabetes? Nothing to worry about even if you are travelling to places far and wide. Just follow the simple tips stated below to make your stay tension free! If you make the right preparations you should be able to minimize any potential problems and have an enjoyable and a safe trip. Your care routine should travel with you, especially if you have diabetes.</p>
    <p><b>Staying Healthy!</b></p>
    <ul>
    <li>Changes in what you eat, activity levels and time zones can affect your blood glucose.</li>
    <li>Check levels often.</li>
    <li> Consult your physician before increasing physical activity as travelling will involve more walking.</li>
    <li> Wash hands often with soap and water.</li>
    <li> Protect your feet. Specially be careful of hot pavements by pools and hot sand on beaches. Never go barefoot.</li>
    <li>Keep your immunization records up-to-date.</li>
    </ul>
    <h4 class="title_custom">Don't forget your medication:</h4>
    <ul>
    <li>Pack twice the amount of medicines you expect to need in case of travel delays.</li>
    <li>Keep snacks, glucose gel or tablets in case your blood glucose drops.</li>
    <li>Remember to keep your health insurance card and emergency phone numbers handy which includes your doctor's number.</li>
    <li>Keep time zone changes in mind so that you know when to take your medicines. </li>
    <li>If you use insulin, make sure you have a pack of glucagon emergency kit.</li>
    <li>Find out where to get medical care if needed when away from home.</li>
    </ul>
    <h4 class="title_custom">While travelling On the road:</h4>
    <ul>
    <li>Reduce your risk of blood clots by moving around every hour or two.</li>
    <li>Pack smaller portions of snacks while travelling, such as fresh fruit, salads, dry fruits or low - fat yogurt.</li>
    <li>Carry a few bottles of water.</li>
    </ul>
    <h4 class="title_custom">Travelling by air:</h4>
    <ul>
    <li>Place all the diabetes supplies in the carry-on luggage. Keep medications and snacks at your seat for easy access. Don't store them in overhead bins or checked luggage. </li>
    <li>If a meal is to be served during your flight, call ahead for a diabetic, low fat or low cholesterol meal. Wait until your food is about to be served before you take your insulin.</li>
    <li>If the airline does not offer a meal, carry a nutritious meal yourself.</li>
    <li>When drawing up your dose of insulin, do not inject air into the bottle as the ait in the flight will probably be pressurized. </li>
    <li>Reduce your risk of blood clots by moving around every hour or two. </li>
    </ul>
    <p>Canadian Super Visa has brought a great opportunity for those who aspire to reunite with their parents or grandparents. The most important and mandatory requirement is to purchase health insurance from a Canadian insurance company. The requirements for super visa insurance include the following details:</p>
    <ul>
    <li>Be issued by a Canadian insurance company</li>
    <li>Be valid for the one year period you specify at the time of purchase</li>
    <li>Include the necessary health care, hospitalization and repatriation coverage</li>
    <li>Provide a minimum of $100,000 in coverage, although you can opt for more</li>
    </ul>
    <p>Such medical insurance has to be purchased for minimum one year. The expenses for hospitalization for visitors to Canada can amount to over $3,000 per day, and air ambulance charges to return you home could very easily be in the tens of thousands of dollars. We recommend $100,000 of medical insurance coverage. This will ease your financial burden due to unforeseen charges and give you a peace of mind which everyone is looking for. Some insurance companies offer plans that cover pre-existing conditions as long as they have been stable for a certain period of time (3 to 6 months) before departure from your home country. Sometimes, pre-existing conditions will not be covered. It is important to read your entire policy to make sure you are aware of the definitions affecting coverage, as well as the possible exclusions that may apply. </p>
    <p>Only some of the available plans will cover pre-existing medical conditions such as diabetes, high blood pressure, heart conditions, etc. Private health insurance that meets the requirements of Canadian Immigration must cover healthcare, hospitalization and ouster (return of remains to home country in the case of death) costs. All-inclusive visitor's medical insurance can be obtained at competitive rates at Punjab Insurance.</p>
    <p>Visitors to Canada or their Canadian friends or family can get a Super Visa travel insurance quote for diabetic patients, compare policies and purchase online by visiting our site Punjabinsurance.ca. For further enquiries or free consultation call us at our toll free number 1-888-978-6522. Punjab Insurance is at your services 24 hours for 365 days. </p>
    <br>
    </div>
    </div>
    </div>
    </div>
{% endblock %}