{% extends "base.html" %}
{% block content %}

<div class="section-padding-top">
    <div class="container-fluid formcontent">
    <div class="row supervisabgimg bbrr">
    <div class="col-md-6 col-lg-6 col-xl-7 paddingzero">
    <div class="subhead"><h3>Tips Before Buying Super Visa Insurance</h3></div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 paddingzero">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>Super Visa Insurance - Rate Comparison</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="supervisainsform" action="/store-data/20"><div style="display:none;"><value="POST"></div> <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="departeredate">Start date of coverage <span class="star">*</span></label>
    <input required type="date" class="form-control form-design hasDatepicker" name="departeredate" id="departeredate" aria-describedby="departeredate_status" autocomplete="off">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="primary_destination">Primary destination <span class="star">*</span></label>
    <select class="form-control" name="primary_destination" id="primary_destination" aria-describedby="primary_destination_status">
    <option value="" selected="">Please choose</option>
    <option value="Alberta">Alberta</option>
    <option value="British Columbia">British Columbia</option>
    <option value="Manitoba">Manitoba</option>
    <option value="New Brunswick">New Brunswick</option>
    <option value="Newfoundland">Newfoundland</option>
    <option value="North West Territories">North West Territories</option>
    <option value="Nova Scotia">Nova Scotia</option>
    <option value="Nunavut">Nunavut</option>
    <option value="Ontario">Ontario</option>
    <option value="Prince Edward Island">Prince Edward Island</option>
    <option value="Quebec">Quebec</option>
    <option value="Saskatchewan">Saskatchewan</option>
    <option value="Yukon Territory">Yukon Territory</option>
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="sphone" class="control-label">Number of Visitors (max 2)</label>
    <select class="form-control" name="ntravellers" id="ntravellers">
    <option value="1">1</option>
    <option value="2">2</option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    
    
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 tr2" style="display: none;">
    <div class="form-group has-feedback">
    <label for="medical_cond2">Pre-existing / 2nd Person</label>
    <select class="form-control" name="medical_cond2" id="medical_cond2">
    <option value="no"> No</option>
    <option value="yes"> Yes </option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input type="submit" style="height: 40px;" id="supervisainssubmit" class="readmore-blue submit-form" value="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="container formcontent">
    <div class="row">
    <div class="col-md-12">
    <h4 class="title_custom">Suggestions while buying Super Visa Insurance</h4>
    <p><strong>Punjab Insurance</strong> offers <strong>Super Visa medical Insurance</strong> from all major <strong>Canadian Insurance Companies</strong> that conform to the CICs Super Visa for Parents and Grandparents Program. They advise that you keep the following <strong>tips in mind</strong> before applying for a super visa as it is mandatory to purchase a Canadian insurance at the time of applying for a visitor visa under super visa category:</p>
    <h4 class="title_custom">Tips</h4>
    <ul>
    <li>One should purchase medical insurance as a proof before submitting their Super Visa application. The coverage must be for a minimum of $100,000.</li>
    <li>The policy must have a minimum duration of one year. Applicants /Insurers can choose the date of the insurance policy. However the insurers are offered flexibility to change the tentative date of your insurance policy before the actual effective date. Dates can be changed by a simple phone call or email. It is the responsibility of the insurer to get the tentative date changed to keep the policy in effect at the desired date. You can change the date by calling your insurance agent and informing about the changes. The date when your grandparent or parents come to Canada, should be the first day of insurance protection policy. The one year coverage starts from that day.</li>
    <li>Refunds will be provided if your parents or grandparents are unable to obtain a Visa for Entry to Canada. Moreover, when a Super Visa request is turned down for any reason, the candidate is qualified to receive 100% of the premium paid by the applicant for the visa insurance protection. Punjab Insurance promises to process the refunds as soon as the proof of visa denial is sent to us.</li>
    <li>If your parents or grandparents decide to leave Canada before one year, they can get a refund on the unused balance. Pro-rated refund of premium is also available, if the applicants return home early.</li>
    <li>Plans are available that COVER PRE-EXISTING CONDITIONS such as Diabetes, High Blood Pressure and Heart Conditions. The plans that cover pre-existing conditions only do so for those that are steady. Steady means that there is no change in medication, no pending tests from the doctor, no information from the doctor that anything has changed with respect to their pre-existing health condition.</li>
    <li>If you decide to stay for more than one year, then you will need to purchase a new policy 8 days before the expiry of the old policy.</li>
    </ul>
    <p>Our team at Punjab Insurance strive hard to deliver the best Super Visa Insurance plans at your convenience to give you the peace of mind you deserve.</p>
    <br>
    </div>
    </div>
    </div>
    </div>
{% endblock %}