{% extends "base.html" %}
{% block content %}

<div class="section-padding-top">
    <div class="container-fluid formcontent">
    <div class="row supervisabgimg bbrr">
    <div class="col-md-6 col-lg-6 col-xl-7 paddingzero">
    <div class="subhead"><h3>Mistakes while buying Super Visa Insurance</h3></div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 paddingzero">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>Super Visa Insurance - Rate Comparison</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="supervisainsform" action="/store-data/21"><div style="display:none;"><value="POST"></div> <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="departeredate">Start date of coverage <span class="star">*</span></label>
    <input required type="date" class="form-control form-design hasDatepicker" name="departeredate" id="departeredate" aria-describedby="departeredate_status" autocomplete="off">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="primary_destination">Primary destination <span class="star">*</span></label>
    <select class="form-control" name="primary_destination" id="primary_destination" aria-describedby="primary_destination_status">
    <option value="" selected="">Please choose</option>
    <option value="Alberta">Alberta</option>
    <option value="British Columbia">British Columbia</option>
    <option value="Manitoba">Manitoba</option>
    <option value="New Brunswick">New Brunswick</option>
    <option value="Newfoundland">Newfoundland</option>
    <option value="North West Territories">North West Territories</option>
    <option value="Nova Scotia">Nova Scotia</option>
    <option value="Nunavut">Nunavut</option>
    <option value="Ontario">Ontario</option>
    <option value="Prince Edward Island">Prince Edward Island</option>
    <option value="Quebec">Quebec</option>
    <option value="Saskatchewan">Saskatchewan</option>
    <option value="Yukon Territory">Yukon Territory</option>
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="sphone" class="control-label">Number of Visitors (max 2)</label>
    <select class="form-control" name="ntravellers" id="ntravellers">
    <option value="1">1</option>
    <option value="2">2</option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    
    
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 tr2" style="display: none;">
    <div class="form-group has-feedback">
    <label for="medical_cond2">Pre-existing / 2nd Person</label>
    <select class="form-control" name="medical_cond2" id="medical_cond2">
    <option value="no"> No</option>
    <option value="yes"> Yes </option>
    </select>
    </div>
    </div>
    <div class="col-md-12">
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input type="submit" style="height: 40px;" id="supervisainssubmit" class="readmore-blue submit-form" value="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="container formcontent">
    <div class="row">
    <div class="col-md-12">
    <h4 class="title_custom">Avoid mistakes while buying Super Visa Insurance</h4>
    <p><strong>Are you covered for your pre-existing medical conditions?</strong></p><p> The insurer in general is looking at medical stability with respect to medical condition when determining risk. Medical stability means no hospitalization; no treatment or medical investigation and no changes in medication for a specified length of time i.e. say 180 days. In insurance terms the longer you are stable, the less expensive is the premium. Please do not assume that your pre-existing conditions are covered.
    </p>
    <h4 class="title_custom">Mistakes :</h4>
    <ul>
    <li><strong>Reimbursement or up-front payment plan?</strong> Get information from your financial advisor from whom you are getting super visa insurance from whether the plan you are purchasing is a reimbursed plan. Reimbursement plan requires you will have to pay from your pockets first and then submit your claim to the insurance company. For example the insurer meets with an accident and has to be rushed to the hospital. On reaching the hospital you find out you will have to dig out your wallet for your credit card payment to pay the hospital bills and then submit a claim to the insurance company. The mistake while purchasing the plan is that you assumed would take care of the financial hit up front!</li>
    <li><strong>Call the hotline if you are hurt or sick:</strong> Insurers today insist that you call the 24 hour emergency assistance toll free hot line that they have provided you, usually on a wallet card. The managed care process starts the moment the hot line is called. The medical professionals answering the hotline will speak with the attending physicians to determine the best and appropriate care while mitigating instances of misuse and duplication of medical services. The mistake? Not calling the hotline and being responsible for up to 30% of the bill as per the policies agreement. </li>
    <li><strong>Covered on your credit card?</strong> Most credit card companies have replaced 'emergency medical travel insurance 'with 'Travel Accident Insurance'. This is a much different product and does not offer full protection you need when travelling. Travel medical insurance covers hospital, emergency, prescription drugs and other expenses. The mistake? Relying on your credit card for travel health insurance.</li>
    <li><strong>Non- disclosure of facts:</strong> The applicants must reveal the truth -full medical disclosure and get responsible for the coverage. Mistake is not revealing the truth and buying a cheaper policy. </li>
    <li><strong>Trust your Insurance Professional:</strong> Your insurance agent or your financial advisor whatever you call are there to assist you with the purchase. They have everything in writing to assist you in the event of a claim. Your insurance agent can act as an advocate in times of claim. Do not commit the mistake of buying the wrong plan based on an ill-advised recommendation.</li>
    </ul>
    <p>Punjab insurance has been serving our fellow Canadians since 2006. We understand that insurance is about more than just price. That's why we offer our clients insurance solutions tailored to meet their individual requirements.</p>
    <h4 class="title_custom">Financial companies</h4>
    <p>There are many <strong>financial companies</strong> in Canada that offer similar products and services to the Canadian consumer. Punjab Insurance is different than other companies because we put the interest of our clients ahead of everything. We give transparent advice and encourage declaring the truth while taking an insurance policy. This will help the client and insurance company to avoid any issues when a claim is made. Consumers complete a simple online form, answering the same basic questions asked by most insurance brokers and agents. The process typically takes between 2 and 3 minutes and all personal information submitted is secure and protected. Once the consumer gets in contact with our insurance broker or agent, they are able to confirm details of the quote and receive professional advice as to their insurance needs. From that point, it is entirely up to the consumer as to whether they wish to purchase the policy. There is never any obligation.</p>
    <p>Thousands of consumers use Punjabinsurance.ca to save money on their <strong>super visa insurance and travel insurance</strong>. Our satisfied customers have been helping spread the word of our service for years. Trust Punjab Insurance your trusted partner in the insurance industry!</p>
    <br>
    </div>
    </div>
    </div>
    </div>
{% endblock %}