{% extends "base.html" %}
{% block content %}

<div class="section-padding-top">
    <div class="container-fluid formcontent">
    <div class="row supervisabgimg bbrr">
    <div class="col-md-6 col-lg-6 col-xl-7 paddingzero">
    <div class="subhead"><h3>How to complete Super visa application form</h3></div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 paddingzero">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>Super Visa Insurance - Rate Comparison</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="supervisainsform" action="/store-data/22"><div style="display:none;"><value="POST"></div> <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="departeredate">Start date of coverage <span class="star">*</span></label>
    <input required type="date" class="form-control form-design hasDatepicker" name="departeredate" id="departeredate" aria-describedby="departeredate_status" autocomplete="off">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="primary_destination">Primary destination <span class="star">*</span></label>
    <select class="form-control" name="primary_destination" id="primary_destination" aria-describedby="primary_destination_status">
    <option value="" selected="">Please choose</option>
    <option value="Alberta">Alberta</option>
    <option value="British Columbia">British Columbia</option>
    <option value="Manitoba">Manitoba</option>
    <option value="New Brunswick">New Brunswick</option>
    <option value="Newfoundland">Newfoundland</option>
    <option value="North West Territories">North West Territories</option>
    <option value="Nova Scotia">Nova Scotia</option>
    <option value="Nunavut">Nunavut</option>
    <option value="Ontario">Ontario</option>
    <option value="Prince Edward Island">Prince Edward Island</option>
    <option value="Quebec">Quebec</option>
    <option value="Saskatchewan">Saskatchewan</option>
    <option value="Yukon Territory">Yukon Territory</option>
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="sphone" class="control-label">Number of Visitors (max 2)</label>
    <select class="form-control" name="ntravellers" id="ntravellers">
    <option value="1">1</option>
    <option value="2">2</option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    
    
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 tr2" style="display: none;">
    <div class="form-group has-feedback">
    <label for="medical_cond2">Pre-existing / 2nd Person</label>
    <select class="form-control" name="medical_cond2" id="medical_cond2">
    <option value="no"> No</option>
    <option value="yes"> Yes </option>
    </select>
    </div>
    </div>
    <div class="col-md-12">
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input type="submit" style="height: 40px;" id="supervisainssubmit" class="readmore-blue submit-form" value="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="container formcontent">
    <div class="row">
    <div class="col-md-12">
    <h4 class="title_custom">How to complete Super visa application form?</h4>
    <p>Are you planning to apply for Super visa for your parents or grandparents? If you are wondering how to proceed with the application, I am writing the information below to help you. Before applying you should download and keep checklist, which will help you to cross check the forms you have filled and supporting documents attached with the application. You can download the documents using this link below</p>
    <h4 class="title_custom">Download the documents</h4>
    <ul>
    <li class="bluehead"><a href="https://www.punjabinsurance.ca/companypdf/IMM5484E.pdf"> Check List</a></li>
    <li class="bluehead"><a href="https://www.punjabinsurance.ca/companypdf/SuperVisaApplication.pdf"> Super Visa Application</a></li>
    <li class="bluehead"><a href="https://www.punjabinsurance.ca/companypdf/Schedule_1Application.pdf"> Schedule 1 Application</a></li>
    <li class="bluehead"><a href="https://www.punjabinsurance.ca/companypdf/Statutory_Declaration_of_Common_Law_Union.pdf"> Statutory Declaration of Common Law Union</a></li>
    <li class="bluehead"><a href="https://www.punjabinsurance.ca/companypdf/Use_of_Representative.pdf"> Use of Representative</a></li>
    <li class="bluehead"><a href="https://www.punjabinsurance.ca/companypdf/Photograph_Specifications.pdf"> Photograph Specifications</a></li>
    </ul>
    <p>To apply for super visa you'll need the application form. The name of application form currently used is IMM5257-E and provide certain additional documents to support your application. To download this form directly from CIC website use this <a href="https://www.punjabinsurance.ca/companypdf/imm5257e.pdf">Link</a>. You should mention in the form that you are applying for super visa ( it comes under the category of multiple entry category) We are giving links to various other forms you may need for your application.</p>
    <h4 class="title_custom">Do remember that in addition to being found admissible to Canada, the parent or grandparent must also:</h4>
    <ul>
    <li>provide a written commitment of financial support from their child or grandchild in Canada who meets a minimum income threshold</li>
    <li>prove that they have bought Canadian medical insurance coverage for at least one year</li>
    <li>and complete an Immigration Medical Examination. </li>
    </ul>
    <p>While applying for Super visa application state all the facts and figures clearly. Get insurance cover from an insurance company that operates in Canada. You can fill our form for a free no obligation quote on the right hand side of this page or give us a call to clarify any doubts. it is always a delight to stay with your loved ones, specially elders. I wish you all the best and with your application.</p>
    <h4 class="title_custom">About the author</h4>
    <img src="/img/custompages/Sandeep_Ahuja_profile.jpg?p=0" class="img img-responsive img_class" alt=""> <p><b>Sandeep Ahuja</b> is President Operations Punjab Insurance Inc and a licensed Life and Health insurance advisor. He has been working in the financial services industry for over a decade, building a highly successful brokerage business</p>
    <p>Unlike other organizations with the inability to provide client focused service,he can adapt quickly to changing conditions, ensuring that our clients receive a fast and efficient response to their needs. His goal is to deliver a complete range of insurance protection and financial services, matching them to client's needs and helping them make informed, responsible decisions to meet those needs.</p>
    <br>
    </div>
    </div>
    </div>
    </div>
{% endblock %}