{% extends "base.html" %}
{% block content %}
<div class="section-padding-top">
    <div class="container-fluid formcontent">
    <div class="row lifeinsbgimg bbyy">
    <div class="col-md-6 col-lg-6 col-xl-7 paddingzero">
    <div class="subhead"><h3>New Immigrant programs</h3></div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 paddingzero">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>RRSP</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="rrspinsform" action="/store-data/4"><div style="display:none;">value="POST"></div> <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="currentrrsp">Current RRSP Investments ($) <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="currentrrsp" id="currentrrsp" aria-describedby="currentrrsp_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group has-feedback">
    <label for="annualrrsp">Annual RRSP contribution <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="annualrrsp" id="annualrrsp" aria-describedby="annualrrsp_status">
    </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group has-feedback">
    <label for="annual_rate_of_return">Anticipated annual rate of return <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="annual_rate_of_return" id="annual_rate_of_return" aria-describedby="annual_rate_of_return_status">
    </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group has-feedback">
    <label for="retirement">Number of years to retirement </label>
    <input required type="number" class="form-control form-design" name="retirement" id="retirement" aria-describedby="retirement_status">
    </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
    
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input type="submit" style="height: 40px;" id="rrspinssubmit" class="readmore-blue submit-form" value="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="container formcontent">
    <div class="row">
    <div class="col-md-12">
    <h4 class="title_custom">Why you need Insurance - RRSP</h4>
    <p>Canada is a heart throbbing country attracts numbers of people every year and has been the best suited for the people who fly to Canada to make their Future or for earnings. Every year we have people across the globe in different sectors in form of Students, Skilled workers, Federal Skilled workers and so on. They are been admitted to the country ion different provinces and territories after they are been justified on the valid rules and regulations and they being in the country with safety and security is the most primary rule after every individual plans with their budget and savings they want to do.</p>
    <p>Every Budget and Savings as to be planned with primary consideration of Insurance. Insurance plays a very important role in every individual Life because it's the basic financial tool related to a person's earning, working, student etc. We never know when a lump sum amount would be required and at which aspect of life. There are different kinds of Insurance provided by number of Insurance Companies. But being new to the place always you rely on the best advisors for your selecting Insurance for self and family. Punjab Insurance is one of the best suited Insurance Inc with the most talented Insurance Advisor's, day to day Punjab Insurance is growing along with the team and providing the best Insurance Quotes all over Canada with the lowest rates from the Best Insurance Companies in Canada.</p>
    <h4 class="title_custom">Planning</h4>
    <p> After every planning of insurance we need to plan something more to relax and enjoy the life along with family by providing an income even when you are retired from your job or an uncertain death situation that would adhere (adhere has a meaning that doesn't fit here) benefit your life, Punjab Insurance is up with RRSP (Registered Retirement Savings Plan) which is unique Financial planning tool must for settling life after certain age so that you are not dependable on anyone for any kind of finance.</p>
    <p> Punjab Insurance guides you with best plans that can be made and drawn with respect to your retirement plans and utilizing the maximum benefits while you rest after you takes up with the Retirement. Punjab Insurance guides with the best way of Shopping RRSP in Canada and resting for the next part of life with no debts.</p>
    <p>The benefits of RRSP help every Individual to fulfill the dreams of their family in different forms it could be children's education planning, business planning after you are retired and so on. Everyday there is growing technology and growing environment and different aspects and for every aspect you have to plan for financial aspects because when everything around you is increasing that means the cost of everything also increases, Punjab Insurance guides you with this growing aspect to get full utilized and be free from the debts that would create financial crisis .</p>
    <p>Punjab Insurance Motto is to provide you with best plans with respect to RRSP. </p>
    <br>
    </div>
    </div>
    </div>
    </div>
{% endblock %}