<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta http-equiv="refresh" content="2;url=/" />
</head>

<body>

    <div style="display: grid;width:100vw; height:100vh;justify-content: center;align-content: center;">
        <div>
            <video src="https://thumbsnap.com/i/Ez8EV7h7.mp4" style="aspect-ratio: 1;width:240px;" autoplay
                muted></video>
            <div style="color: rgb(0, 159, 88);text-align:center">Your form submitted 😊</div>
            <div style="color: rgb(0, 159, 88);text-align:center">Thankyou for choosing Apnai insurance.</div>
        </div>
    </div>
</body>

</html>