{% extends "base.html" %}
{% block content %}

<div class="form_bg">
    <div class="container-fluid">
    <div class=" col-md-10 col-md-offset-1   section_title text-center">
    <span class="title">Pass the HLLQP Exam and Join our Team.</span>
    <br>
    <br>
    <span class="sub_title">BE YOUR OWN BOSS</span>
    <br>
    <span class="num">START YOUR CAREER</span>
    <br>
    <span class="h5t">Call us now to know more <a href="tel:+18889786522">888-978-6522</a></span>
    </div>
    <div class="col-md-4 col-md-offset-4">
    <div class="row">
    <div class="text-center">
    <img src="/img/custompages/joinpunjabinsurance.png" class="img img-responsive logo_center" alt=""> <div class="form_header text-center">
    <span>Contact Punjab Insurance Today!
    Call Us or Fill in the Form
    </span>
    </div>
    </div>
    <div class="form_bgc">
    <div class="row" style=" margin-left: 10%;">
    <div class="col-md-10 col-sm-10 col-xs-10">
    <form method="post" accept-charset="utf-8" id="jobform" action="/jobs/newjob"><div style="display:none;"><input type="hidden" name="_method" value="POST"></div> <div class="form-group has-feedback">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="name_status">
    </div>
    <div class="form-group has-feedback">
    <label for="phone_no">Phone</label>
    <input type="text" class="form-control" id="phone_no" name="phone" aria-describedby="phone_no_status">
    </div>
    <div class="form-group has-feedback">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="email_status">
    </div>
    <div class="form-group has-feedback">
    <label for="comment">Comment</label>
    <input type="text" class="form-control" id="comment" name="comment" aria-describedby="comment_status">
    </div>
    <div class="form-group has-feedback">
    <div class="g-recaptcha" data-sitekey="6LdmkAgUAAAAAKP-RMVpA3biKkjFob-xEEPz_CJ4" style="margin-top:10px;" data-callback="recaptchaCallback"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdmkAgUAAAAAKP-RMVpA3biKkjFob-xEEPz_CJ4&amp;co=aHR0cHM6Ly93d3cucHVuamFiaW5zdXJhbmNlLmNhOjQ0Mw..&amp;hl=en&amp;v=0hCdE87LyjzAkFO5Ff-v7Hj1&amp;size=normal&amp;cb=sw3lpmq9a9ls" width="304" height="78" role="presentation" name="a-r3cxk7apx7y3" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
    </div>
    <div class="clearfix"></div>
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    <div class="form-group">
    <div>
    <a class="btn cust_btn" id="Contact_for_job">
    CALL ME BACK TODAY
    </a>
    </div>
    </div>
    </form> </div>
    </div>
    </div>
    <div class="text-center">
    </div>
    </div>
    </div>
    </div>
    </div>

    <div class="bg_blue">
        <div class="container-fluid">
        <div class="section_title text-center">
        <h3 class="underline underline_blue">Why Choose Us?</h3>
        </div>
        <div class="col-md-4 col-md-offset-2">
        <div class="row">
        <div class="">
        <ul class="bul">
        <li>- Canada Wide Offices</li>
        <li>- Earn attractive commissions</li>
        <li>- Health Care Expertise</li>
        <li>- Outstanding Service Level</li>
        </ul>
        </div>
        </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
        <div class="row">
        <div class="">
        <ul class="bul">
        <li>- Trusted by Clients</li>
        <li>- Best hands-on training</li>
        <li>- Offers flexibility and freedom</li>
        <li>- Full-time support available</li>
        </ul>
        </div>
        </div>
        </div>
        <div class="clearfix"></div>
        <div class="text-center col-md-4 col-md-offset-4">
        <a class="btn cust_btn" href="tel:+18889786522">Call Now 888-978-6522</a>
        </div>
        </div>
        </div>

        <div class="bg_white">
            <div class="container-fluid formcontent">
            <div class="text-center">
            <img src="/img/custompages/shadow.png" class="img img-responsive logo_shadow" alt=""> </div>
            <div class="section_title text-center">
            <h3 class="underline underline_blue">Join Punjab Insurance - Best Life Insurance Agency</h3>
            </div>
            <div class="col-md-10 col-xs-10 col-md-offset-1">
            <div class="row">
            <div class="bg_white_text">
            <p>Our aim is not only provide every Canadian Family protection in bad times of their lives, but also offer them the opportunity to establish them as an insurance &amp; investment advisors. If you feel that you are capable of establishing yourself as a financial advisor you are more than welcome to give our office a call on 1888-9-PUNJAB (1888-978-6522). Our trained and knowledgeable office staff will answer all your queries in order give you the complete knowledge on How To Become an Advisor full time or part-time. Alternatively, you can also come to our office - any local branch in your province, to obtain all the required information.</p>
            <p><strong>As a Punjab Insurance Advisor, the sky is not the limit- you can go beyond.</strong> At Punjab Insurance, you will not merely be an insurance agent-you will be a Financial Advisor. You will have an important role to play because you have to give valuable advice to prospective customers about their financial planning.</p>
            <div class="text-center">
            <img src="/img/custompages/joinpunjabinsurance.png" class="img img-responsive logo_center" alt="">
            <br><br>
            <div class="text-center">
            <p class="text-center" style="margin: 8%;">Punjab Insurance is the right choice you need to make a successful career!
            </p>
            </div>
            </div>
            </div>
            </div>
            </div>
            <div class="clearfix"></div>
            </div>
            </div>

{% endblock %}