{% extends "base.html" %}
{% block content %}

<div class="section-padding-top">
    <div class="container-fluid formcontent">
    <div class="row lifeinsbgimg bbgg">
    <div class="col-md-6 col-lg-6 col-xl-7 paddingzero">
    <div class="subhead"><h3>Accident Insurance for Newborns</h3></div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 paddingzero">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>Free Quote for Accident Insurance for Newborns</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="lifeinsform" action="/store-data/14"><div style="display:none;"><value="POST"></div> <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="query">Your Query?</label>
    <textarea class="form-control form-design" name="query" id="query"></textarea>
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input type="submit" style="height: 40px;" id="lifeinssubmit" class="readmore-blue submit-form" value="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="container  formcontent">
    <div class="row">
    <div class="col-md-12">
    <h4 class="title_custom"></h4>
    <p>You love your baby more than anything, and you've prepared a snug little nursery
    so that your little one will begin life in complete comfort and security. But
    have you really thought of everything? To be absolutely sure, enrol in the
    Peek-a-Boo Plan-accident insurance that is provided free of charge for 12
    months.</p>
    <p>With the Free accident insurance plan, insurance will help you protect your
    infant as he or she embarks on a new life. This coverage will help you confront
    unexpected events and experience this new adventure with peace of mind.</p>
    <ul>
    <li>This insurance Plan is free accident insurance.</li>
    <li>It covers your child free of charge for 12 months.</li>
    <li>This unique offer is valid for a limited time.</li>
    </ul>
    <p>To find out more about the protection and the benefits payable, consult the
    Punjab Insurance Inc.</p>
    <h4 class="title_custom">Insurance</h4>
    <p class="bluehead"><a href="https://www.punjabinsurance.ca/term-life-insurance-quotes-canada"><span class="fa fa-hand-o-right" aria-hidden="true"></span> Term Life Insurance</a></p>
    <p class="bluehead"><a href="https://www.punjabinsurance.ca/canada/mortgage-insurance"><span class="fa fa-hand-o-right" aria-hidden="true"></span> Mortgage Insurance</a></p>
    <p class="bluehead"><a href="https://www.punjabinsurance.ca/canada/critical-illness-insurance"><span class="fa fa-hand-o-right" aria-hidden="true"></span> Critical Illness Insurance</a></p>
    <br>
    </div>
    </div>
    </div>
    </div>
{% endblock %}