{% extends "base.html" %}
{% block content %}

<div class="section-padding-top">
    <div class="container formcontent">
    <div class="row">
    
    <div class="col-md-6 paddingzero">
    <img src="https://qph.cf2.quoracdn.net/main-qimg-c7b9044f4e9ffff5086dcdadebec79a6-lq" class="img img-responsive" alt=""> </div>
    <div class="col-md-6 paddingzero">
    <div class="desc">
    <h4 class="title_custom">MONEY-BACK TERM INSURANCE</h4>
    <p>We know that the Term Life Insurance plan offers a low-cost option to cover the risk of death for our temporary needs. Thus it seems a viable and affordable option to many people.
    <br><br>
    There are numerous types of Term Life Insurance options available. But the downside one may feel is that in a basic term insurance plan, if there is no eventuality (unexpected death) during the term; the coverage expires at the end of the term, no benefit (sum assured) is paid, and the premiums go wasted.
    </p><br><br>
    </div>
    </div>
    <div class="clearfix"></div>
    
    
    <br><br>
    <div class="col-md-12 paddingzero">
    <div class="desc">
    <h4 class="title_custom">Term Insurance with Return of Premium-Trop (Money-Back Term Insurance) - An Effective Solution</h4>
    <p>If you need a term insurance plan that offers the survival benefit along with the death benefit, there is a solution in the form of ‘Term Insurance with Return of Premium’ (Money-Back Term Insurance) plan. Its greatest advantage is that in case there has been no claim during the period of coverage, when the policy matures, it pays back all the premiums that you have paid over the tenure of the coverage. So you have the peace of mind knowing that while your family is financially protected in the case of your untimely demise; if you continue to live long, the investment that you have made into the policy through the premiums never goes wasted- you get your entire money back at the end of the term.</p>
    </div>
    </div>
    <div class="clearfix"></div>
    
    </div>
    </div>
    <div class="container formcontent">
    <div class="row">
    
    <div class="col-md-12 paddingzero">
    <div class="desc">
    <h4 class="title_custom">‘Term Insurance with Return of Premium’ (Money-Back Term Insurance) in action:</h4>
    <p><i>Let’s assume that you purchase a TROP (Money-Back Term Insurance) policy with sum assured $300,000 for a period of 20 years with an annual premium of $1200. In the case of an unprecedented event, your family will receive a death benefit of the sum assured $300,000. But with the grace of Almighty, if you continue to enjoy a long healthy life, at the end of the term, you will receive your entire money (100%) - $24000 (paid premiums) back and that too tax-free.</i></p>
    <p>Thus we have seen that the TROP (Money-Back Term Insurance) plan works as a safe investment tool for the majority of the people who want to ensure the financial safety of their family in case they cease to exist. </p>
    </div>
    </div>
    <div class="clearfix"></div>
    
    
    <div class="col-md-12 paddingzero">
    <div class="desc">
    <h4 class="title_custom">Advantages</h4>
    <p><b>We can identify the following main benefits of the TROP (Money-Back Term Insurance) policy which are quite appealing:</b></p>
    <ol>
    <li><b>Return of Premium: </b>
    If you outlive the ‘term’ of the insurance policy, you get your entire paid premiums back. Thus you may use your capital investment for any purpose as per your requirement (such as business, education/marriage of children, purchasing a car, living expenses etc.).
    </li>
    <li><b>Death Benefit : </b>If unfortunately, something happens to you during the period of coverage, your family/beneficiary will get the assured death benefit which they can use to fulfill any of their financial needs such as living expenses, education/marriage of children, paying off any outstanding mortgages etc.</li>
    <li><b>Levelled Premiums : </b>During the entire course of your chosen term- 20 years or 30 years, your premiums remain levelled. </li>
    <li><b>Tax Benefits : </b>Another added advantage is- not only the death benefit, the premiums are also paid to the policyholder completely tax-free. The government doesn’t deduct any taxes from the death benefit, or from the premium amount.</li>
    <li><b>Customization of the Policy : </b>You have the liberty to customize the policy with additional features that reflect your needs/preferences by including the riders such as:</li>
    <ul><li><b>Children’s Term Rider : </b>
    By exercising this rider, you can purchase temporary insurance for your eligible children under 18 years of age which can later be increased up to five times on your child’s 18th birthday, and up to five times of permanent coverage when your child turns 25 (Different carriers have different options/features). So at his young age, you are able to ensure the insurability of your child which becomes a valuable financial resource for him in future.
    </li>
    <li><b>Waiver of Premium for Disability : </b>
    An unexpected disability may greatly affect your potential to earn income. If before the age of 60 years, the primary insured becomes totally disabled for a continuous period of six months, this option will waive off the premiums as long as he remains disabled<i> (Different carriers have different options/features).</i>
    </li></ul>
    </ol>
    </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="col-md-12">
    <h4 class="title_custom">Cons</h4>
    <ul>
    <li><b>Expensive : </b>Though a TROP (Money Back Term Insurance) policy offers various salient features, it is a bit expensive and is not everybody’s piece of cake.
    </li>
    </ul>
    <p>On balance, we can conclude that the Term Insurance with Return of Premium (Money-Back Term Insurance) is a very effective financial tool that allows you to manage your money efficiently by allowing you the opportunity to build wealth and secure your life simultaneously. While no plan is good or bad, everybody has different financial needs and one single financial product doesn’t suit everybody. People should opt for a suitable plan through a proper ‘needs analysis’ done by an experienced Insurance Advisor.
    <br><br>
    While currently, the ‘Term Insurance Return of Premium’ (Money-Back Term Insurance) plan is not offered in Canada; it is available in the USA; we wish that in future, it will be introduced here and people will be able to reap advantages of this wonderful plan.
    </p><br><br>
    <p><i><b>**Disclosure- The above content is for informative purposes only</b></i></p>
    <br><br>
    </div>
    </div>
    </div>
    </div>
{% endblock %}