{% extends "base.html" %}
{% block content %}

<div class="section-padding-top">
    <div class="container-fluid formcontent">
    <div class="row lifeinsbgimg bbgg">
    <div class="col-md-6 col-lg-6 col-xl-7 paddingzero">
    <div class="subhead"><h3>Income Replacement Insurance</h3></div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 paddingzero">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>Free Quote Online for Income Replacement Insurance</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="lifeinsform" action="/store-data/8"><div style="display:none;">value="POST"></div> <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="smoker">Smoker <span class="star">*</span></label>
    <select class="form-control" name="smoker" id="smoker">
    <option value="">Please choose</option>
    <option>Yes</option>
    <option>No</option>
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="sex">Sex <span class="star">*</span></label>
    <select class="form-control" name="sex" id="sex">
    <option value="">Select Sex</option>
    <option>Male</option>
    <option>Female</option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="profession">Profession <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="profession" id="profession" aria-describedby="profession_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="income">Gross Income <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="income" id="income" aria-describedby="income_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="otherquestion">Any other question?</label>
    <textarea class="form-control form-design" name="otherquestion" id="otherquestion"></textarea>
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input type="submit" style="height: 40px;" id="lifeinssubmit" class="readmore-blue submit-form" value="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="container formcontent">
    <div class="row">
    <div class="col-md-12">
    <h4 class="title_custom">Do you need income protection insurance?</h4>
    <p>Life is unpredictable and is full of shocks and surprises. Nobody knows what will happen the very next moment. Nothing is in our hands but we can be pre prepared for all the coming situations. This needs a proper planning, awareness and guidance. There are various policies that are there to help us during all bad times but they go unnoticeable. Out of all such policies, there is Income Replacement Insurance which will finish all the worries about generating income when you are incapable of earning. Punjab Insurance provides the best available options for Income Replacement Insurance which will aid you during hour of need.</p>
    <p>When incidentally you meet an accident that render you disabled for some time, the major area of concern after your disability will be the source of income. If you are the sole earner in your family, it will create uneasiness amongst you and your family. At this point of time, if you had Income Replacement Insurance your life would have been much easier. Income Replacement Insurance substitutes a share of your income if you become unable to earn through injury or illness. This will make your life much easier and will allow you to recover soon without any anxiety. Punjab Insurance provides you with different policies which give you different options of time and benefits.</p>
    <h4 class="title_custom">Income Replacement Insurance</h4>
    <p> Income Replacement Insurance was accomplished after observing the astounding disability statistics. During any accident, there are more chances of disability over death. This makes it obligatory to have Income Replacement Insurance that will restore your earnings, where they would have been had the loss not occurred. But disabilities during self-inflicted injury, in war or any act of war; active full-time service in the armed forces, committing or attempting to commit an assault or criminal offense are not taken into consideration. Punjab Insurance provides you with all such information which will make you aware of all the important things that have to be considered. The experienced staff at Punjab Insurance will help you to have the best suited quote that will be of great help in the long run. </p>
    <h4 class="title_custom">Insurance</h4>
    <p class="bluehead"><a href="https://www.punjabinsurance.ca/term-life-insurance-quotes-canada"><span class="fa fa-hand-o-right" aria-hidden="true"></span> Term Life Insurance</a></p>
    <p class="bluehead"><a href="https://www.punjabinsurance.ca/canada/mortgage-insurance"><span class="fa fa-hand-o-right" aria-hidden="true"></span> Mortgage Insurance</a></p>
    <p class="bluehead"><a href="https://www.punjabinsurance.ca/canada/critical-illness-insurance"><span class="fa fa-hand-o-right" aria-hidden="true"></span> Critical Illness Insurance</a></p>
    <br>
    </div>
    </div>
    </div>
    </div>
{% endblock %}