{% extends "base.html" %}
{% block content %}

<div class="section-padding-top">
    <div class="container-fluid formcontent">
    <div class="row lifeinsbgimg bbgg">
    <div class="col-md-6 col-lg-6 col-xl-7 paddingzero">
    <div class="col-md-12 subhead"><h3>Critical Illness Insurance</h3></div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 paddingzero">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>Critical Illness Insurance Quote</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="lifeinsform" action="/store-data/10"><div style="display:none;">value="POST"></div> <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="amount">Amount <span class="star">*</span></label>
    <select class="form-control" name="amount" id="amount" aria-describedby="amount_status">
    <option value="">Please choose</option>
    <option>$50,000</option>
    <option>$75,000</option>
    <option>$100,000</option>
    <option>$150,000</option>
    <option>$200,000</option>
    <option>$250,000</option>
    <option>$300,000</option>
    <option>$350,000</option>
    <option>$400,000</option>
    <option>$450,000</option>
    <option>$500,000</option>
    <option>$600,000</option>
    <option>$700,000</option>
    <option>$750,000</option>
    <option>$800,000</option>
    <option>$900,000</option>
    <option>$1,000,000</option>
    <option>$1,250,000</option>
    <option>$1,500,000</option>
    <option>$1,750,000</option>
    <option>$2,000,000</option>
    <option>$2,500,000</option>
    <option>$3,000,000</option>
    <option>$5,000,000</option>
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="health">Health <span class="star">*</span></label>
    <select class="form-control form-design" name="health" id="health" aria-describedby="health_status">
    <option value="">Please choose</option>
    <option>Standard</option>
    <option>Preferred</option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="smoker">Smoker <span class="star">*</span></label>
    <select class="form-control" name="smoker" id="smoker">
    <option value="">Please choose</option>
    <option>Yes</option>
    <option>No</option>
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="sex">Sex <span class="star">*</span></label>
    <select class="form-control" name="sex" id="sex">
    <option value="">Select Sex</option>
    <option>Male</option>
    <option>Female</option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="birthyear">Year of birth <span class="star">*</span></label>
    <input required type="date" class="form-control form-design" name="birthyear" id="birthyear" aria-describedby="birthyear_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input type="submit" style="height: 40px;" id="lifeinssubmit" class="readmore-blue submit-form" value="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="container formcontent">
    <div class="row">
    <div class="col-md-12">
    <h4 class="title_custom">Critical Illness Insurance Quotes or Critical Insurance quotes</h4>
    <p><strong>Critical Illness Insurance Canada</strong> is designed to provide assistance to an insured who has been diagnosed with one of a predetermined number of <strong>critical illnesses</strong> and in some cases survived 30 days. <br>If you are looking to get covered for any eventualities' in life than you are at the right place.<b> Get a Free No obligation quote from us and see how we can design the insurance for you, which can cover you in a better way and costing you least every month.</b></p>
    <p><strong> Critical Illness insurance</strong> protects you or your spouse against loss of income on diagnosis number of illnesses between three (cancer, heart attack, stroke) and 22 (i.e.MS, Alzheimer's, Parkinson's, ALS, blindness, deafness, loss of speech, coma, severe burns, late onset diabetes, loss of independence).</p>
    <p><b>With healthy lifestyle choices can be your best defence against some health risks, a critical</b> illness such as cancer, stroke or heart disease can strike anyone at any time. Consider the following:</p>
    <ul>
    <li>One in three Canadians will develop a life-threatening cancer.</li>
    <li>One in two heart attack victims are under 65 years old.</li>
    <li>Each year, 50,000 Canadians suffer a stroke. Of all stroke victims, 75% will be left with a disability.</li>
    </ul>
    <h4 class="title_custom">Insurance</h4>
    <p>Expenses such as private nursing or modifications to your home or vehicle to improve your mobility won't be covered under your provincial health insurance plan and may not be covered under typical employer-sponsored health plans. Then there are the other challenges that critical illnesses bring - such as finding the best medical care, meeting day-to-day needs (like caring for your children), and managing the stress and anxiety.</p>
    <p>Critical illness insurance from PII provides a lump-sum benefit to help support you financially, if you are diagnosed with and survive a covered critical illness. You can use this benefit payment to supplement your health insurance plan and any group disability coverage you may have:</p>
    <ul>
    <li><strong><span>Reduce your financial burden:</span></strong> Pay off or reduce your mortgage, credit cards or other debts. Help keep your business running.</li>
    <li><strong><span>Maintain your independence:</span></strong> Modify your home or vehicle to improve your mobility. Hire domestic help during your recovery. Fund a leave of absence for yourself or your spouse.</li>
    <li><strong><span>Access cutting-edge medical services:</span></strong> In Canada, pay for medications and treatment not covered by provincial health plans. Outside Canada, pay for treatment that may not be available at home, in addition to your family's travel and lodging expenses.</li>
    <li><strong><span>Assist in your recovery any way you choose:</span></strong> Spend more time with your family or use the benefit in other ways that can help you focus on getting well.</li>
    </ul>
    <p class="bluehead"><a href="https://www.punjabinsurance.ca/canada/life-insurance"><span class="fa fa-hand-o-right" aria-hidden="true"></span> Life Insurance</a></p>
    <p class="bluehead"><a href="https://www.punjabinsurance.ca/term-life-insurance-quotes-canada"><span class="fa fa-hand-o-right" aria-hidden="true"></span> Term Life Insurance</a></p>
    <p class="bluehead"><a href="https://www.punjabinsurance.ca/canada/mortgage-insurance"><span class="fa fa-hand-o-right" aria-hidden="true"></span> Mortgage Insurance</a></p>
    <h4 class="title_custom">Critical Illness Insurance Quotes</h4>
    <p>What's more, with critical illness insurance from PII , you may not have to go into debt or withdraw money from your retirement savings to remain financially stable and independent during your recovery.</p>
    <p>Fill the form to get your free lowest <strong>Critical Illness Insurance Quotes.</strong></p>
    <h4 class="title_custom">Critical Illness Insurance Quotes in Canada</h4>
    <p>The insured also often has the choice to pay an extra charge and receive a full refund of all premiums paid at a predetermined point if no claims have occurred.</p>
    <p>Most <strong>Critical Illness insurance products</strong> offer access to the Best Doctors service on all their critical illness products. This service provides the client with access to a service that directs them to the top North American doctors based on their illness and books them in at reduced cost for appropriate treatment.</p>
    <p><strong>Critical illness insurance in Canada</strong> offers help paying costs associated with life-altering illnesses. If you become sick with an illness covered by your policy and survive the waiting period, you receive a lump sum cash payment - you decide how to spend the money. Free your free quote today for Critical Illness Insurance.</p>
    <br>
    </div>
    </div>
    </div>
    </div>
{% endblock %}