{% extends "base.html" %}
{% block content %}
<div class="section-padding-top">
    <div class="container-fluid formcontent">
    <div class="row lifeinsbgimg bbgg">
    <div class="col-md-12 subhead"><h3>Non-medical Insurance</h3></div>
    <div class="col-md-12 col-lg-12 col-xl-12 paddingzero">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>Non-medical Insurance Free Quote</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="lifeinsform" action="/store-data/12"><div style="display:none;"><value="POST"></div> <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="lived_in_cannada_1" class="control-label">1.Have you lived in Canada for less than 12 months ? <span style="color:red;">*</span></label><br>
    <label class="radio-inline custrl">
    <input required type="radio" name="lived_in_cannada_1" value="Yes" class="custradio">Yes
    <span class="checkmark"></span>
    </label>
    <label class="radio-inline custrl">
    <input required type="radio" name="lived_in_cannada_1" value="No" class="custradio">No
    <span class="checkmark"></span>
    </label>
    </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="appln_critical_insurance_2" class="control-label">2. In the past two years, have you had an application for critical illness insurance declined or postponed by any company, including Industrial Alliance ? <span style="color:red;">*</span></label><br>
    <label class="radio-inline custrl">
    <input required type="radio" name="appln_critical_insurance_2" value="Yes" class="custradio">Yes
    <span class="checkmark"></span>
    </label>
    <label class="radio-inline custrl">
    <input required type="radio" name="appln_critical_insurance_2" value="No" class="custradio">No
    <span class="checkmark"></span>
    </label>
    </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="three">3. Do you currently suffer from, or have you ever suffered from or had symptoms of any of the following illnesses or ailments, or have you ever consulted a doctor or been treated for: </label>
    <label for="three_a_3a">a) Congenital cardiac defects, angina, angioplasty, coronary artery bypass, heart attack, congestive heart failure, stroke, transient ischemic attack (TIA) or any other cerebrovascular disease or disease of the heart or the blood vessels, or an abnormal electrocardiogram (ECG) ? <span style="color:red;">*</span></label><br>
    <label class="radio-inline custrl">
    <input required type="radio" name="three_a_3a" value="Yes" class="custradio">Yes
    <span class="checkmark"></span>
    </label>
    <label class="radio-inline custrl">
    <input required type="radio" name="three_a_3a" value="No" class="custradio">No
    <span class="checkmark"></span>
    </label>
    </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="three_b_3b">b) Type 1 (insulin-dependent) diabetes or type 2 diabetes ? <span style="color:red;">*</span></label><br>
    <label class="radio-inline custrl">
    <input required type="radio" name="three_b_3b" value="Yes" class="custradio">Yes
    <span class="checkmark"></span>
    </label>
    <label class="radio-inline custrl">
    <input required type="radio" name="three_b_3b" value="No" class="custradio">No
    <span class="checkmark"></span>
    </label>
    </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="three_c_3c" class="control-label">c) Cancer or other malignant disease, tumour, colon polyp or any other growth ? <span style="color:red;">*</span></label><br>
    <label class="radio-inline custrl">
    <input required type="radio" name="three_c_3c" value="Yes" class="custradio">Yes
    <span class="checkmark"></span>
    </label>
    <label class="radio-inline custrl">
    <input required type="radio" name="three_c_3c" value="No" class="custradio">No
    <span class="checkmark"></span>
    </label>
    </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="three_d_3d" class="control-label">d) Any breast problems (mass, cyst, unusual discharge, physical change, abnormal mammogram or biopsy) or prostate problems (nodule or abnormal PSA) ? <span style="color:red;">*</span></label><br>
    <label class="radio-inline custrl">
    <input required type="radio" name="three_d_3d" value="Yes" class="custradio">Yes
    <span class="checkmark"></span>
    </label>
    <label class="radio-inline custrl">
    <input required type="radio" name="three_d_3d" value="No" class="custradio">No
    <span class="checkmark"></span>
    </label>
    </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="four" class="control-label">4.</label><br>
    <label for="four_a_4a" class="control-label">a) Currently, are you under medical investigation or have you been advised to undergo a diagnostic test or surgery that has not yet been carried out? <span style="color:red;">*</span></label><br>
    <label class="radio-inline custrl">
    <input required type="radio" name="four_a_4a" value="Yes" class="custradio">Yes
    <span class="checkmark"></span>
    </label>
    <label class="radio-inline custrl">
    <input required type="radio" name="four_a_4a" value="No" class="custradio">No
    <span class="checkmark"></span>
    </label>
    </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="four_b_4b">b) Have you noticed any symptoms or health problems for which you have not yet consulted a doctor, such as: abnormality, lump or mass on the breasts, shortness of breath, chest pain, dizziness, loss of balance, numbness, rectal bleeding, prostate or other problems ? <span style="color:red;">*</span></label><br>
    <label class="radio-inline custrl">
    <input required type="radio" name="four_b_4b" value="Yes" class="custradio">Yes
    <span class="checkmark"></span>
    </label>
    <label class="radio-inline custrl">
    <input required type="radio" name="four_b_4b" value="No" class="custradio">No
    <span class="checkmark"></span>
    </label>
    </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="five" class="control-label">5. Have you tested positive for or received test results that indicate the presence of any one of the following diseases:</label><br>
    <label for="five_a_5a" class="control-label">a) HIV (AIDS virus), AIDS or other AIDS-related illness ? <span style="color:red;">*</span></label><br>
    <label class="radio-inline custrl">
    <input required type="radio" name="five_a_5a" value="Yes" class="custradio">Yes
    <span class="checkmark"></span>
    </label>
    <label class="radio-inline custrl">
    <input required type="radio" name="five_a_5a" value="No" class="custradio">No
    <span class="checkmark"></span>
    </label>
    </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="five_b_5b">b) Hepatitis B or C, chronic type D hepatitis, or carrier of hepatitis B ? <span style="color:red;">*</span></label><br>
    <label class="radio-inline custrl">
    <input required type="radio" name="five_b_5b" value="Yes" class="custradio">Yes
    <span class="checkmark"></span>
    </label>
    <label class="radio-inline custrl">
    <input required type="radio" name="five_b_5b" value="No" class="custradio">No
    <span class="checkmark"></span>
    </label>
    </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="six_6">6. In the last five years, have you undergone detoxication treatment (in-patient or out-patient treatment program) for alcohol or drug use ? <span style="color:red;">*</span></label><br>
    <label class="radio-inline custrl">
    <input required type="radio" name="six_6" value="Yes" class="custradio">Yes
    <span class="checkmark"></span>
    </label>
    <label class="radio-inline custrl">
    <input required type="radio" name="six_6" value="No" class="custradio">No
    <span class="checkmark"></span>
    </label>
    </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="seven_7">7. In the last five years, have you used any hard drugs such as opium, heroin, morphine, codeine, Demerol, barbiturates, amphetamines, cocaine, hallucinogens or anabolic steroids, other than as prescribed by a doctor, or methadone, whether prescribed by a doctor or not ? <span style="color:red;">*</span></label><br>
    <label class="radio-inline custrl">
    <input required type="radio" name="seven_7" value="Yes" class="custradio">Yes
    <span class="checkmark"></span>
    </label>
    <label class="radio-inline custrl">
    <input required type="radio" name="seven_7" value="No" class="custradio">No
    <span class="checkmark"></span>
    </label>
    </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="eight_8">8. Family History Do two (2) or more members of your immediate family (father, mother, brothers, sisters) suffer from, or have they suffered from cancer, heart disease, stroke or transient ischemic attack (TIA) before the age of 60 ? <span style="color:red;">*</span></label><br>
    <label class="radio-inline custrl">
    <input required type="radio" name="eight_8" value="Yes" class="custradio">Yes
    <span class="checkmark"></span>
    </label>
    <label class="radio-inline custrl">
    <input required type="radio" name="eight_8" value="No" class="custradio">No
    <span class="checkmark"></span>
    </label>
    </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="nine_9">9. Does your current weight exceed the weight indicated for your height in the table below ? <span style="color:red;">*</span></label><br>
    <label class="radio-inline custrl">
    <input required type="radio" name="nine_9" value="Yes" class="custradio">Yes
    <span class="checkmark"></span>
    </label>
    <label class="radio-inline custrl">
    <input required type="radio" name="nine_9" value="No" class="custradio">No
    <span class="checkmark"></span>
    </label>
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tmobile">Mobile Number</label>
    <input required type="number" class="form-control form-design" name="tmobile" id="tmobile">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input required style="height: 40px;" type="submit" id="lifeinssubmit" class="readmore-blue submit-form" value="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}