{% extends "base.html" %}
{% block content %}
<div class="section-padding-top">
    <div class="container-fluid formcontent">
    <div class="row lifeinsbgimg bbgg">
    <div class="col-md-6 col-lg-6 col-xl-7 paddingzero">
    <div class="subhead"><h3>Drug &amp; Dental Insurance Canada</h3></div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 paddingzero">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>Free Quote Online for Drug &amp; Dental Insurance</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="lifeinsform" action="/store-data/13"><div style="display:none;"><value="POST"></div> <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="age">Age <span class="star">*</span></label>
    <select class="form-control" name="age" id="age">
    <option value="">Select Age</option>
    <option>Under 45</option>
    <option>45 - 54</option>
    <option>55 - 59</option>
    <option>60 - 64</option>
    <option>65 - 69</option>
    <option>70 - 74</option>
    <option>75 - 79</option>
    <option>80 - 84</option>
    <option>85 - 89</option>
    <option>90+</option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="sex">Sex <span class="star">*</span></label>
    <select class="form-control" name="sex" id="sex">
    <option value="">Select Sex</option>
    <option>Male</option>
    <option>Female</option>
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="plan">Select your plan <span class="star">*</span></label>
    <select class="form-control" name="plan" id="plan">
    <option value="">Select Plan</option>
    <option>Both drug and dental</option>
    <option>Prescription drug only</option>
    <option>Dental only(basic)</option>
    <option>Dental only(enhanced)</option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input type="submit" style="height: 40px;" id="lifeinssubmit" class="readmore-blue submit-form" value="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="container formcontent">
    <div class="row">
    <div class="col-md-12">
    <h4 class="title_custom">Looking for comprehensive prescription drug insurance in Canada?</h4>
    <p>Are you dissatisfied with your current <strong>prescription drug insurance</strong> coverage in Canada and looking to replace it with something more flexible and comprehensive? Or maybe, you're simply hoping to find an option that allows you to top up your existing prescription drug insurance?</p>
    <p>Our knowledgeable and experienced staff is ready to assist employers in designing a plan that caters to your company's individual needs while helping employees manage their health and wellness concerns.</p>
    <p><strong>Drug and Dental Insurance Canada</strong></p>
    <p>Now, you and your family can have access to the Health and Dental protection you need. The Health and Dental Plan is specially designed for those who are not covered by a group plan.</p>
    <h4 class="title_custom">Insurance</h4>
    <p class="bluehead"><a href="https://www.punjabinsurance.ca/term-life-insurance-quotes-canada"><span class="fa fa-hand-o-right" aria-hidden="true"></span> Term Life Insurance</a></p>
    <p class="bluehead"><a href="https://www.punjabinsurance.ca/canada/mortgage-insurance"><span class="fa fa-hand-o-right" aria-hidden="true"></span> Mortgage Insurance</a></p>
    <p class="bluehead"><a href="https://www.punjabinsurance.ca/canada/critical-illness-insurance"><span class="fa fa-hand-o-right" aria-hidden="true"></span> Critical Illness Insurance</a></p>
    <h4 class="title_custom">Get a FREE QUOTE for drug and dental Insurance</h4>
    <p>This information is provided under the terms of strict confidentiality agreements and your information will not be shared, sold or rented by these other parties without your permission.</p>
    <h4 class="title_custom">Health and Dental Plan Canada</h4>
    <p>Flexible and affordable, the Health and Dental plan offers four levels of increasing, comprehensive coverage for:</p>
    <ul>
    <li>Prescription Drugs</li>
    <li>Dental Services</li>
    <li>Vision care and Hospital benefits</li>
    </ul>
    <h4 class="title_custom">Dental and vision coverage in ontario canada - BC</h4>
    <p>Now, you can choose Dental coverage only. The Dental plan offers four levels of dental coverage without prescription drugs.<br></p>
    <p><strong>Our Drug and Dental plan also includes benefits like:</strong></p>
    <ul>
    <li>Vision Care</li>
    <li>Extended Health Care</li>
    <li>Home Care and much more</li>
    <li>And the Dental plan does not require completion of a medical assessment</li>
    </ul>
    <h4 class="title_custom">Save money on prescription drug insurance in Canada</h4>
    <p>The plan is flexible and designed to suit the unique needs of your company and its employees. You spend pre-tax dollars funding your plan, and at tax time you write off your health, dental, and prescription costs as a legitimate business expense.</p>
    <p>The result? A non-taxable benefit for your employees...and Canadian tax advantages for your company. We provide Drug and Dental Insurance in BC, Ontario, Manitoba, Ottawa, Alberta, Quebec.</p>
    <br>
    </div>
    </div>
    </div>
    </div>

{% endblock %}