{% extends "base.html" %}
{% block content %}
<div class="section-padding-top">
    <div class="container-fluid formcontent">
    <div class="row supervisabgimg bbgy">
    <div class="col-md-6 col-lg-6 col-xl-7 paddingzero">
    <div class="subhead"><h3>Travel Insurance for Canadians</h3></div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 paddingzero">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>Quote for Travel Insurance for Canadians</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="lifeinsform" action="/store-data/16"><div style="display:none;"><value="POST"></div> 
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="travto">Travelling to ? <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="travto" id="travto" aria-describedby="travto_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="departeredate">Date of departure <span class="star">*</span></label>
    <input required type="date" class="form-control form-design hasDatepicker" name="departeredate" id="departeredate" aria-describedby="departeredate_status" autocomplete="off">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="returndate">Date of return <span class="star">*</span></label>
    <input required type="date" class="form-control form-design hasDatepicker" name="returndate" id="returndate" aria-describedby="returndate_status" autocomplete="off">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="ntravellers">Number of Travellers <span class="star">*</span></label>
    <select class="form-control" name="ntravellers" id="ntravellers" aria-describedby="ntravellers_status">
    <option value="">Select No. of Travellers</option>
    <option> 1 </option>
    <option> 2</option>
    <option> 3</option>
    <option> 4</option>
    <option> 5</option>
    <option> 6</option>
    <option> 7</option>
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="age">Age of oldest traveller ? <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="age" id="age" aria-describedby="age_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input type="submit" style="height: 40px;" id="lifeinssubmit" class="readmore-blue submit-form" value="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="container formcontent">
    <div class="row">
    <div class="col-md-12">
    <h4 class="title_custom">Travel protection plans for Canadians</h4>
    <p>Overseas travel can be an enriching and unforgettable experience. However, without proper travel insurance, a dream holiday could lead to financial ruin or even worse.</p>
    <p>Some go overseas without ever having considered obtaining <strong>travel insurance</strong>, but the Department of Foreign Affairs and Trade strongly advises that all Canadians take out travel insurance before going overseas, and with good reason. If things can go wrong, they probably will. And when they do, the last thing you want is enormous financial and emotional stress... Simply stated, travellers who do not have travel insurance can be personally liable for medical claims incurred overseas and these costs can financially ruin them! </p>
    <p>With daily hospitalization costs in South East Asia costing as much as $800 a day and the cost of a medical evacuation from the United States ranging between $75 000 and $95 000 it is easy to comprehend why travellers cannot risk travelling without travel insurance. </p>
    <h4 class="title_custom">Travel Insurance</h4>
    <p>There have even been instances where Canadian families have been forced to rely on their superannuation funds or in some cases sell their homes in order to raise the money to bring their loved ones home - all because they failed to purchase travel insurance. </p>
    <p>Despite these risks, many people still travel without travel insurance. </p>
    <p>If you are planning to travel overseas, it is sensible to take an <strong>overseas travel medical insurance policy</strong>. The expenditures of medical treatment overseas can be very high. It is mandatory to buy an <strong>Overseas Travel Insurance</strong> if you want to attain visa while you are scheduled to travel to a few countries in the world. These countries insist on travel insurance cover before issuing a travel visa. Even if it is not mandatory to buy a travel insurance plan to other countries it would be a wise decision to protect you from unseen tragedies. Healthcare expenses are comparatively higher in developed countries.</p>
    <h4 class="title_custom">Travel Insurance Plan</h4>
    <p>A <strong>Travel Insurance Plan</strong> can protect and cover you against medical and other financial emergencies that may occur during your travel.</p><p>A travel medical insurance will either reimburse for your treatment at the adjoining medical facility, or allow you to choose the hospital where you desire the requisite treatment.</p><p>Depending on the insurance plan you choose, you may be fully or partially covered. When shopping for travel insurance, compare policy coverage, benefits and prices, and ask for a list of what is included and what is not. Therefore it is highly recommended consulting an insurance broker you trust to learn more.</p>
    <br>
    </div>
    </div>
    </div>
    </div>
{% endblock %}