{% extends "base.html" %}
{% block content %}
<div class="section-padding-top">
    <div class="container-fluid formcontent">
    <div class="row lifeinsbgimg bbgy">
    <div class="col-md-6 col-lg-6 col-xl-7 paddingzero">
    <div class="subhead"><h3>For International students in Canada</h3></div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 paddingzero">
    <div class="formcwell clearfix">
    <div class="text-center formhead">
    <h4>Get your FREE QUOTE for health insurance for International students</h4>
    <p></p>
    <hr>
    </div>
    <form method="post" accept-charset="utf-8" id="lifeinsform" action="/store-data/17"><div style="display:none;"><value="POST"></div> <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="coveragetype">What type of travel coverage do you need ? <span class="star">*</span></label>
    <select class="form-control" name="coveragetype" id="coveragetype" aria-describedby="coveragetype_status">
    <option value="">Type of travel coverage</option>
    <option>Single 1 Adult</option>
    <option>Single 2 Adult</option>
    <option>Family</option>
    </select>
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group has-feedback">
    <label for="school">What school will you be attending while in Canada ? <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="school" id="school" aria-describedby="school_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="countryorigin">Country of origin ? <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="countryorigin" id="countryorigin" aria-describedby="countryorigin_status">
    </div>
    </div>
    
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="startdate">Start of health coverage ? <span class="star">*</span></label>
    <input required type="date" class="form-control form-design hasDatepicker" name="startdate" id="startdate" aria-describedby="startdate_status" autocomplete="off">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="enddate">End of health coverage <span class="star">*</span></label>
    <input required type="date" class="form-control form-design hasDatepicker" name="enddate" id="enddate" aria-describedby="enddate_status" autocomplete="off">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tname">Name <span class="star">*</span></label>
    <input required type="text" class="form-control form-design" name="tname" id="tname" aria-describedby="tname_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="dateofbirth">Date of Birth <span class="star">*</span></label>
    <input required type="date" class="form-control form-design hasDatepicker" name="dateofbirth" id="dateofbirth" aria-describedby="dateofbirth_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="tphone">Phone <span class="star">*</span></label>
    <input required type="number" class="form-control form-design" name="tphone" id="tphone" aria-describedby="tphone_status">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group has-feedback">
    <label for="contact_email">Email <span class="star">*</span></label>
    <input required type="email" class="form-control form-design" name="contact_email" id="contact_email" aria-describedby="contact_email_status">
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <noscript><p style="color: red;">Please enable JavaScript to continue</p> </noscript>
    <div id="email_error_loc"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
    <input type="submit" style="height: 40px;" id="lifeinssubmit" class="readmore-blue submit-form" value="Get Quote">
    </div>
    </form> </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="container formcontent">
    <div class="row">
    <div class="col-md-12">
    <h4 class="title_custom">Travel health insurance for international students studying in Canada</h4>
    <p><strong>Citizenship and Immigration Canada</strong> Recommends that all international students studying in Canada purchase health coverage when they arrive in the country as foreign students may not be eligible for provincial health care plans. A medical emergency or sudden illness while studying in Canada could ruin your school year. And without adequate coverage, the medical expenses could ruin you and your family.</p>
    <p> In order to concentrate on your studies &amp; to achieve your career goals you need to be healthy. Remember a healthy body in a healthy mind .While as a student you do not expect to sit in one place. You need to move around for work, college, tourist places for outings &amp; enjoyment. Students who study abroad are particularly vulnerable because under normal circumstances, they do not have easy access to funding when in a foreign country; and worse, they do not have the support system that a family or friend can provide in their own countries. With more educational opportunities being offered to people in all parts of the world, it is not unthinkable that the frequency of accidents and sickness would increase in proportion to the number of students.</p>
    <h4 class="title_custom">Student travel insurance</h4>
    <p>Student travel insurance has many types of coverage, the most popular of which are those that include payment of medical expenses from hospitalization and accidental death. Other non-life threatening coverage can also prove useful especially when the incident happens while en route to a particular country. This includes payment for a return trip and legal assistance, to name a few. In any case, an insurance coverage helps pay for any loss incurred if and when any untoward event occurs. A travel safety net ensures that rebuilding one's life after a fall wouldn't be a painful struggle.</p>
    <p>As an international student, you may not be eligible for any government coverage and the costs of medical and dental treatment, for people without Canadian health insurance plans, are expensive. While attending a Canadian academic institution, the last thing on your mind should be the high price of medical services, so be sure to add Travel Student Medical Insurance to your list of school supplies.</p>
    <br>
    </div>
    </div>
    </div>
    </div>
{% endblock %}